<div class="container">
  <nav>
    <div class="logo"><img src="assets/img/bitoo.png">Bitoo</div>
    <ul class="navItems">
      <li><a href="#">Facebook Bitoo</a></li>
      <li><a href="#">Instagram Bitoo</a></li>
      <li><a href="#">Ir a Bitoo</a></li>
      <li><a href="#">Home</a></li>
    </ul>
  </nav>

  <div class="wrapper">
    <div class="cols cols0">
      <span class="topline">Tómbola</span>
      <h1>Es momento de <br> <span class="multiText">Participar</span></h1>
      <p>Participa en nuestra gran tómbola para ganar increibles premios</p>
      <div class="btns">
        <button>Registrarse</button>
      </div>
    </div>
    <div class="cols cols1">
      <div class="imgbox">
        <img src="assets/img/mancha.png" id="splash">
        <img src="assets/img/Tombola.png">
      </div>
      <h2 style=" background: #3d535f ;color: #fff; position: absolute; height: 35px; width: 350px; border-radius: 20px; text-align: center;"> Usuarios participando: {{ usuariosTotal }}</h2>
    </div>
  </div>
</div>
