*{
  font-family: Comfortaa ,Poppins, sans-serif;
}
.navItems{
  display: flex;
  justify-content: center;
}

.navItems li{
  list-style: none;
  margin: 0 15px;
}

.navItems li a{
  font-size: 20px;
  color: white;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: capitalize;
}

.zoom-in{
  animation: zoomInOut 2s ease-in-out infinite;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.registrobutton{
  cursor: pointer;
}
.txtregistrar{
  margin-right:108px;
  font-size: 1.3em;
  font-family: Comfortaa ,Poppins, sans-serif;
}
.txtrusuarios{
  margin-left:10px;
  font-size: 1.3em;
  font-family: Comfortaa ,Poppins, sans-serif;
}

@media (min-width: 992px) {
  .large {
    width: 850px !important;
  }
  img.small {
    max-width: 450px;
    height: auto;
  }
}

/* Estilos para pantallas más pequeñas */
@media (max-width: 991px) {
  .large {
    max-width: 100% !important;
  }
  img.small {
    max-width: 100% !important;
    height: auto !important;
  }
}

/* Para 480px */
@media only screen and (max-width: 575px) and (min-width: 50px) {
  .mitad{
    width:50%;
  }

  .completo{
    width: 103%;
    margin: auto;
  }

  .txtregistrar{
    margin-right:108px;
    font-size: 1.2em;
    font-family: Comfortaa ,Poppins, sans-serif;
  }
  .txtrusuarios{
    margin-left:20px;
    font-size: 1.2em;
    font-family: Comfortaa ,Poppins, sans-serif;
  }
  .navItems li a{
     font-size: 1em;
   }

  .navItems li img{
     font-size: 1em;
   }
  .redesimg{
    width: 40px;
  }
  @keyframes zoomInOut {
    0% {
      transform: scale(.5);
    }
    50% {
      transform: scale(.75);
    }
    100% {
      transform: scale(.5);
    }
  }
}



