*{
  font-family: Comfortaa ,Poppins, sans-serif;
}


.navItems{
  display: flex;
  justify-content: center;
}

.navItems li{
  list-style: none;
  margin: 0 15px;
}

.navItems li a{
  font-size: 20px;
  color: white;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: capitalize;
}

.zoom-in{
  animation: zoomInOut 2s ease-in-out infinite;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }

}

.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.registrobutton{
  cursor: pointer;
}
.txtregistrar{
  margin-right:140px;
  font-size: 1.4em;
  font-family: Comfortaa ,Poppins, sans-serif;
}
.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}




