<div class="center" *ngIf="!logueado" style=" box-shadow: rgba(0,0,0,0.3) 28px 26px 30px;
  background: white; padding-bottom: 20px">
  <h1 class="header-css">Login</h1>
  <form [formGroup]="formGroup1" (submit)="login()">
    <div class="txt_field">
      <input type="text" required formControlName="nombre"  name="nombre" id="nombre">
      <span></span>
      <label>Username </label>
    </div>
    <div class="txt_field">
      <input type="password" required formControlName="password"  name="password" id="password">
      <span></span>
      <label>Password</label>
    </div>
    <input type="submit" value="Login">
  </form>
</div>
