<div *ngIf="logueado" class="container">
  <div class="mb-3 text-center">
    <table class="table bg-white">
      <thead class="bg-success text-white">
      <tr>
        <th scope="col">#id</th>
        <th scope="col">Nombre</th>
        <th scope="col">correo</th>
        <th scope="col">Empresa</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let persona of listaUsuarios">
          <th scope="row">{{persona?.idusuario}}</th>
          <td>{{persona?.nombre}}</td>
          <td>{{persona?.correo}}</td>
          <td>{{persona?.cargo}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="botones">
    <button (click)="hacerSorteo()"> Realizar Sorteo </button>
    <button (click)="regresarInicio()"> Regresar a Inicio </button>

  </div>
</div>

<div class="center" *ngIf="!logueado" style=" background: linear-gradient(120deg,#2980b9, #8e44ad); padding-bottom: 20px">
  <h1>Login</h1>
  <form [formGroup]="formGroup1" (submit)="login()">
    <div class="txt_field">
      <input type="text" required formControlName="nombre"  name="nombre" id="nombre">
      <span></span>
      <label>Username</label>
    </div>
    <div class="txt_field">
      <input type="password" required formControlName="password"  name="password" id="password">
      <span></span>
      <label>Password</label>
    </div>
    <input type="submit" value="Login">
  </form>
</div>
