.botones{
  width: 100%;
  position: relative;
  left: 150px;
}
h2 {
  font: bold 30px/1 arial;
  text-transform: uppercase;
  color: #f80d3d;
  text-shadow: 2px  2px 0px #f80d3d;
}
ul li a {
  cursor: pointer;
}
.Content{
  margin-top: 5vh;
  margin-left: 10vh;
  background: white;
  border-radius:10px;
  height: 90vh;
}
button{
  outline: none;
  border: none;
  cursor: pointer;
  margin: 40px 5px;
  text-transform: capitalize;
  border-radius: 50px;
}

button:hover{
  background-color: #7f00ff;
}
.menulateral
{
  margin: 0px;
  width:15%;
  height: 100vh;
  background: #f8f9fa;
}


.menulateral-item{
  font-family: Century Gothic;
  margin: 0px !important;
  font-weight: 600;
}
.contenido
{
  margin-left: .1px;
  width: 109.8%;
  height: 100vh;
  background: #c7c5c5;
}
.excel{
  margin-left: auto;
}
