.botones{
  width: 100%;
  position: relative;
  left: 150px;
}
h2 {
  font: bold 30px/1 arial;
  text-transform: uppercase;
  color: #f80d3d;
  text-shadow: 2px  2px 0px #f80d3d;
}
ul li a {
  cursor: pointer;
}
.Content{
  margin-top: 5vh;
  margin-left: 10vh;
  background: white;
  border-radius:10px;
  height: 90vh;
}
button{
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 25px;
  font-weight: 400;
  color: #fff;
  background-color: #3d535f;
  padding: 8px 14px;
  margin: 40px 5px;
  letter-spacing: 2px;
  text-transform: capitalize;
  box-shadow: 0 15px 10px rgba(0,0,0,0.4);
  border-radius: 50px;
}

button:hover{
  background-color: #7f00ff;
}
.menulateral
{
  margin: 0px;
  width:10%;
  height: 100vh;
  background: #f8f9fa;
}
.contenido
{
  margin: 0px;
  width: 90%;
  height: 100vh;
  background: #c7c5c5;
}
